@use 'sass:map';
@use './variables.module.scss' as vars;

.Home {
  padding: 40px 0;
}

.Blurb {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 20px;
}

.BlurbText {
  flex: 1 1 0;

  @media (max-width: (map.get(vars.$breakpoints, sm) - 0.05px)) {
    min-width: 100%;
  }
}

.BackgroundHeader {
  margin-top: 40px;
  margin-bottom: 10px;
}

.ResearchInterestsHeader {
  margin-top: 40px;
  margin-bottom: 10px;
}

.Avatar {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  box-shadow: var(--shadow);

  @media (max-width: (map.get(vars.$breakpoints, sm) - 0.05px)) {
    width: 175px;
    height: 175px;
  }
}

.News {
  padding: 20px 0 10px 0;
}

.NewsList {
  width: 100%;
  list-style: none;
  padding: 0;

  >li {
    display: flex;
    gap: 20px;
    padding: 5px 0;
    // margin-bottom: 10px;

    // &:last-child {
    //   margin-bottom: 0;
    // }

    >div:first-child {
      flex: 0 0 80px;
    }
  }

  tr>td:first-child {
    white-space: nowrap;
  }
}

.Links {
  // margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  a {
    border: 1.5px solid var(--border-light);
    border-radius: 50%;
    font-size: 0;
    padding: 10px;

    &:hover {
      border-color: var(--icon-hover-color);
    }

    svg {
      fill: var(--icons);
      width: 30px;
      height: 30px;
    }
  }
}