.News {
  padding: 40px 0;
}

.NewsList {
  width: 100%;
  list-style: none;
  padding: 0;

  >li {
    display: flex;
    gap: 20px;
    padding: 5px 0;

    >div:first-child {
      flex: 0 0 80px;
    }
  }

  tr>td:first-child {
    white-space: nowrap;
  }
}

.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}